<section class="">
  <div class="container py-5">
    <div class="d-flex justify-content-between">
      <h3 class="font-weight-bold text-dark">Interview Practice</h3>
      <h4 class=""><span class="">4:00pm - 5:30pm</span> PST, 20th Dec, 2019</h4>
    </div>
    <hr class="">
  </div>
</section>

<div class="container">
  <div class="d-flex card shadow-sm rounded">

    <table class="table">
      <thead class="text-white bg-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Mode</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>otto@mdo.io</td>
          <td>Active</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>jacob@server.com</td>
          <td>Listening</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>Bird</td>
          <td>lbird@twitter.com</td>
          <td>Active</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<!-- docker run --name mysql -v /Docker/mysql:/var/lib/mysql --net=host -e MYSQL_ROOT_PASSWORD=password -d mysql:latest -->