<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm">
  <div class="container">
    <div class="row justify-content-between">

      <a class="navbar-brand" href="https://vanhack.com">
        <img src="../../../assets/img/vanhack-logo.svg" class="d-inline-block align-top" alt="Vanhack Logo">
      </a>

      <div class="">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav lead">
            <li class="nav-item">
              <a class="nav-link" routerLink="#" routerLinkActive="active">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" routerLinkActive="active">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" routerLinkActive="active">Pipeline</a>
            </li>
          </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    </div>
  </div>
</nav>
<div class="py-4 border-bottom"></div>