<section class="my-5 text-dark">
  <div class="container">
    <div class="h2">Premium Classes</div>
  </div>
</section>

<div class="container mb-4 pt-5 px-4 px-md-0">

  <div class="row px-md-0 mb-3">
    <div class="col-12 col-md-3 bg-primary text-center text-white mb-2 mb-md-0 mx-md-1 pt-4 card shadow-sm">
      <h4 class="h4 text-uppercase">
        Monday
      </h4>
      <span class="display-4 font-weight-bold">27</span>
    </div>

    <div class="col-12 col-md p-4 card shadow-sm mb-2 mb-md-0 mx-md-1">
      <div class="d-flex justify-content-between">
        <p class="text-dark h4 text-uppercase">Interview Practice</p>
        <p class="text-dark font-weight-bold">12:00 - 1:30 PST</p>
      </div>

      <p class="text-dark">Ricardo Jadim</p>

      <a class="btn btn-outline-primary ml-auto rounded px-4" routerLink="/classes/1">Join</a>
    </div>

    <div class="col-12 col-md p-4 card shadow-sm mb-2 mb-md-0 mx-md-1">
      <div class="d-flex justify-content-between">
        <p class="text-dark h4 text-uppercase">English Language</p>
        <p class="text-dark font-weight-bold">4:00 - 5:30 PST</p>
      </div>

      <p class="text-dark">Julian Jadim</p>

      <a class="btn btn-outline-primary ml-auto rounded px-4" routerLink="/classes/1">Join</a>
    </div>
  </div>

</div>